{% extends 'base.html.twig' %}

{% block body %}

{% for post in posts%}
<ul>{{post.id}}</ul>
<ul>{{post.telephone}}</ul>
<ul>{{post.email}}</ul>

<ul>{{post.company}}</ul>
<ul>{{post.country}}</ul>
<ul>{{post.gender}}</ul>
<ul>{{post.dob}}</ul>
<ul>{{post.insurance}}</ul>
<ul>{{post.network}}</ul>
{% endfor %}

{% endblock %}
